<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221524357364-t7b64k19245vtron6d448ica5lpk6edv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221524357364-t7b64k19245vtron6d448ica5lpk6edv</string>
	<key>API_KEY</key>
	<string>AIzaSyCwqw8Kod4RB2pLUFCDn8J6Zh_-IDLhbBI</string>
	<key>GCM_SENDER_ID</key>
	<string>221524357364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JPAhn.Comeit</string>
	<key>PROJECT_ID</key>
	<string>gitramy-7145c</string>
	<key>STORAGE_BUCKET</key>
	<string>gitramy-7145c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221524357364:ios:0e175db35549640b496ea1</string>
</dict>
</plist>